body {
    font: 16px/1 Helvetica, sans-serif;
}


#photos {
    float: left;
    width: 100%;
    -webkit-user-select: none; 
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
}

.photo,
.photo img {
    min-width: 160px;
    max-width: 240px;
}

i{
    font-size: 24px;
    line-height: 1.5em;
    display: block!important;
}